DROP DATABASE Locamat
GO

CREATE DATABASE Locamat
GO


USE [LocaMat]
GO
/****** Object:  Table [dbo].[Agences]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ville] [varchar](50) NOT NULL,
	[Adresse] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Agences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriesProduits]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesProduits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CategoriesProduits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Prenom] [varchar](50) NOT NULL,
	[Adresse] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduit] [int] NOT NULL,
	[IdAgence] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[DateDebut] [datetime] NOT NULL,
	[DateFin] [datetime] NOT NULL,
	[Quantite] [int] NOT NULL,
	[TotalFacture] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffresProduits]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffresProduits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduit] [int] NOT NULL,
	[IdAgence] [int] NOT NULL,
	[Quantite] [int] NOT NULL,
 CONSTRAINT [PK_OffresProduits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](150) NOT NULL,
	[Description] [varchar](300) NULL,
	[IdCategorie] [int] NOT NULL,
	[PrixJourHT] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Produits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agences] ON 

INSERT [dbo].[Agences] ([Id], [Ville], [Adresse]) VALUES (1, N'ROUEN', N'15 Avenue Champlain')
INSERT [dbo].[Agences] ([Id], [Ville], [Adresse]) VALUES (2, N'PARIS', N'144 Cour Bénédicte Durand')
INSERT [dbo].[Agences] ([Id], [Ville], [Adresse]) VALUES (3, N'BORDEAUX', N'1 Rue de l''épée')
SET IDENTITY_INSERT [dbo].[Agences] OFF
SET IDENTITY_INSERT [dbo].[CategoriesProduits] ON 

INSERT [dbo].[CategoriesProduits] ([Id], [Nom]) VALUES (1, N'Nettoyage')
INSERT [dbo].[CategoriesProduits] ([Id], [Nom]) VALUES (2, N'Espaces verts')
INSERT [dbo].[CategoriesProduits] ([Id], [Nom]) VALUES (3, N'Elévation')
SET IDENTITY_INSERT [dbo].[CategoriesProduits] OFF
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [Nom], [Prenom], [Adresse]) VALUES (1, N't', N't', N't')
INSERT [dbo].[Clients] ([Id], [Nom], [Prenom], [Adresse]) VALUES (2, N't', N't', N't')
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [IdProduit], [IdAgence], [IdClient], [DateDebut], [DateFin], [Quantite], [TotalFacture]) VALUES (1, 1, 1, 1, CAST(N'1905-07-04T00:00:00.000' AS DateTime), CAST(N'1905-07-03T00:00:00.000' AS DateTime), 1, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Locations] ([Id], [IdProduit], [IdAgence], [IdClient], [DateDebut], [DateFin], [Quantite], [TotalFacture]) VALUES (2, 1, 1, 1, CAST(N'1894-06-17T00:00:00.000' AS DateTime), CAST(N'1894-06-18T00:00:00.000' AS DateTime), 1, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[OffresProduits] ON 

INSERT [dbo].[OffresProduits] ([Id], [IdProduit], [IdAgence], [Quantite]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OffresProduits] ([Id], [IdProduit], [IdAgence], [Quantite]) VALUES (2, 1, 2, 3)
INSERT [dbo].[OffresProduits] ([Id], [IdProduit], [IdAgence], [Quantite]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[OffresProduits] OFF
SET IDENTITY_INSERT [dbo].[Produits] ON 

INSERT [dbo].[Produits] ([Id], [Nom], [Description], [IdCategorie], [PrixJourHT]) VALUES (1, N'	MARTEAU PERFORATEUR ÉLECTRIQUE 6 KG', N'Perçage de trous d’ancrage dans les matériaux de construction. Percement de trous traversants dans le béton, pierre, brique, bois ou métal.', 4, CAST(24.50 AS Decimal(10, 2)))
INSERT [dbo].[Produits] ([Id], [Nom], [Description], [IdCategorie], [PrixJourHT]) VALUES (2, N'	MARTEAU PERFORATEUR ÉLECTRIQUE 2,5 KG', N'Perçage de trous d’ancrage dans les matériaux de construction
Percement de trous traversants dans le béton, pierre, brique, bois ou métal', 4, CAST(11.40 AS Decimal(10, 2)))
INSERT [dbo].[Produits] ([Id], [Nom], [Description], [IdCategorie], [PrixJourHT]) VALUES (3, N'MARTEAU PERFORATEUR SANS FIL 36 V - < 5 KG  ', N'Perçage de trous d’ancrage dans les matériaux de construction
Percement de trous traversants dans le béton, pierre, brique, bois ou métal', 4, CAST(20.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Produits] OFF
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Agence] FOREIGN KEY([IdAgence])
REFERENCES [dbo].[Agences] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Agence]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Client] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Client]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Produit] FOREIGN KEY([IdProduit])
REFERENCES [dbo].[Produits] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Produit]
GO
ALTER TABLE [dbo].[OffresProduits]  WITH CHECK ADD  CONSTRAINT [FK_OffresProduits_Agence] FOREIGN KEY([IdAgence])
REFERENCES [dbo].[Agences] ([Id])
GO
ALTER TABLE [dbo].[OffresProduits] CHECK CONSTRAINT [FK_OffresProduits_Agence]
GO
ALTER TABLE [dbo].[OffresProduits]  WITH CHECK ADD  CONSTRAINT [FK_OffresProduits_Produit] FOREIGN KEY([IdProduit])
REFERENCES [dbo].[Produits] ([Id])
GO
ALTER TABLE [dbo].[OffresProduits] CHECK CONSTRAINT [FK_OffresProduits_Produit]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [FK_Produits_Categorie] FOREIGN KEY([IdCategorie])
REFERENCES [dbo].[CategoriesProduits] ([Id])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [FK_Produits_Categorie]
GO
/****** Object:  StoredProcedure [dbo].[SupprimerProduit]    Script Date: 18/06/2018 12:47:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SupprimerProduit]
	@IdProduit int
AS
BEGIN
	SET NOCOUNT ON;

	DELETE Locations WHERE IdProduit = @IdProduit

	DELETE OffresProduits WHERE IdProduit = @IdProduit

	DELETE Produits WHERE Id = @IdProduit
END
GO
